{% extends "base.html" %}

{% block content %}

<style>

.chat-card{
    border:none;
    border-radius:30px;
    overflow:hidden;
    background:rgb(227, 227, 227);
    box-shadow:0 20px 50px rgba(0,0,0,.15);
}

.chat-header{
    background:linear-gradient(135deg,#6d0d82,#a01d9e);
    color:white;
    text-align:center;
    padding:25px;
}

.chat-header h2{
    font-weight:700;
}

#chatMessages{
    height:500px;
    overflow-y:auto;
    padding:25px;
    background:linear-gradient(to bottom,#f8f9ff,#ffffff);
}

.user-msg{
    display:flex;
    justify-content:flex-end;
    margin-bottom:15px;
}

.user-msg span{
    background:linear-gradient(135deg,#198754,#20c997);
    color:white;
    padding:12px 18px;
    border-radius:20px 20px 5px 20px;
    max-width:75%;
    box-shadow:0 5px 15px rgba(25,135,84,.25);
}

.bot-msg{
    display:flex;
    align-items:flex-start;
    gap:10px;
    margin-bottom:15px;
}

.bot-msg span{
    background:white;
    color:#333;
    padding:12px 18px;
    border-radius:20px 20px 20px 5px;
    border:1px solid #e9ecef;
    max-width:75%;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.chat-input{
    border:none;
    border-radius:50px;
    padding:15px;
    background:#b1c3d6;
}

.chat-input:focus{
    box-shadow:0 0 0 0.2rem rgba(20, 93, 203, 0.25);
    background:white;
}

.voice-btn{
    width:55px;
    height:55px;
    border-radius:50%;
    border:none;
    margin-left:10px;
    background:linear-gradient(135deg,#dc3545,#ff6b6b);
}

.send-btn{
    border-radius:50px;
    padding:0 30px;
    margin-left:10px;
    background:linear-gradient(135deg,#0d6efd,#6610f2);
    border:none;
}

.voice-btn:hover,
.send-btn:hover{
    transform:translateY(-2px) scale(1.05);
}

.typing{
    font-style:italic;
    color:#666;
    margin-bottom:15px;
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:.3;
    }
}

#chatMessages::-webkit-scrollbar{
    width:8px;
}

#chatMessages::-webkit-scrollbar-thumb{
    background:#3180a1;
    border-radius:20px;
}
.suggestion-chips{

    display:flex;

    gap:10px;

    flex-wrap:wrap;

    padding:12px 18px;

}

.chip{

    border:none;

    border-radius:25px;

    background:#b9bdc1;

    padding:8px 15px;

    cursor:pointer;

    transition:.3s;

}

.chip:hover{

    background:linear-gradient(135deg,#2563eb,#7c3aed);

    color:white;

    transform:translateY(-2px);

}
.bot-message{
    background:#fff;
    border-radius:18px;
    padding:15px;
    margin:15px 0;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.bot-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.bot-title{
    font-weight:600;
    color:#2563eb;
}

.copy-btn{
    border:none;
    background:#bcd6de;
    width:38px;
    height:38px;
    border-radius:50%;
    cursor:pointer;
    transition:.3s;
}

.copy-btn:hover{
    background:#2563eb;
    color:#fff;
    transform:scale(1.1);
}

.message-text{
    white-space:pre-wrap;
    line-height:1.4;
}

</style>

<div class="container py-5">

    <div class="card chat-card">

        <div class="chat-header">
            <h2>🤖 College AI Assistant</h2>
            <small>
                Ask about students, marks, subjects and college information
            </small>
            <h2 class="mt-2">
                <span class="badge bg-success">Online</span>
        </div>

        <div class="card-body">

            <div class="suggestion-chips">

    <button class="chip"
            onclick="setQuestion('Show topper student')">
        🏆 Topper
    </button>

    <button class="chip"
            onclick="setQuestion('Total students')">
        👨‍🎓 Students
    </button>

    <button class="chip"
            onclick="setQuestion('Best subject')">
        📚 Best Subject
    </button>

    <button class="chip"
            onclick="setQuestion('Average marks')">
        📈 Average
    </button>

    <button class="chip"
            onclick="setQuestion('Pass percentage')">
        ✅ Pass %
    </button>

</div>

            <div id="chatMessages">

                <div class="bot-msg">

                    <img src="https://cdn-icons-png.flaticon.com/512/4712/4712109.png"
                         width="40">

                    <span>
                        👋 Hello Student! I am your College AI Assistant.
                    </span>

                </div>

            </div>

            <div class="d-flex align-items-center mt-3">

                <input
                    type="text"
                    id="userInput"
                    class="form-control chat-input "
                    placeholder="💬 Ask anything..."
                    onkeypress="if(event.key==='Enter') sendMessage()"
                >
                

                <button
                    class="btn voice-btn"
                    onclick="startVoice()">
                    🎤
                </button>

                <button
                    class="btn text-white send-btn"
                    onclick="sendMessage()">
                    🚀 Send
                </button>
  
                <button
                    class="btn btn-warning ms-2"
                    onclick="speakLastReply()">
                    🔊 Listen
                </button>

            </div>

        </div>

    </div>

</div>

<script>

let lastReply = "";

function sendMessage(){

    let input = document.getElementById("userInput");
    let msg = input.value.trim();

    if(msg==="") return;


    let chat = document.getElementById("chatMessages");


    // user message
    chat.innerHTML += `
    <div class="user-msg">
        <span>${msg}</span>
    </div>
    `;


    // typing
    chat.innerHTML += `
    <div id="typing" class="typing">
        🤖 AI is typing...
    </div>
    `;


    chat.scrollTop = chat.scrollHeight;


    fetch("/chatbot",{
        method:"POST",
        headers:{
            "Content-Type":
            "application/x-www-form-urlencoded"
        },
        body:"message="+encodeURIComponent(msg)
    })


    .then(res=>res.json())


    .then(data=>{


        let typing =
        document.getElementById("typing");

        if(typing){
            typing.remove();
        }


        lastReply = data.reply;


        // AI response + copy button
        chat.innerHTML += `

        <div class="bot-message">

            <div class="bot-top">

                <span class="bot-title">
                    🤖 College AI
                </span>


                <button 
                class="copy-btn"
                onclick="copyMessage(this)">
                    📋
                </button>


            </div>


            <div class="message-text">
                ${data.reply}
            </div>


        </div>

        `;


        chat.scrollTop =
        chat.scrollHeight;


    })

    .catch(error=>{
        console.log(error);
    });


    input.value="";

}

function startVoice(){

    const recognition = new webkitSpeechRecognition();

    recognition.lang = "en-US";

    recognition.onresult = function(event){

        let text = event.results[0][0].transcript;

        document.getElementById("userInput").value = text;

        sendMessage();
    };

    recognition.onerror = function(event){

        console.log("VOICE ERROR:", event.error);

    };

    recognition.start();
}

function speak(text){

    window.speechSynthesis.cancel();

    let speech =
    new SpeechSynthesisUtterance(text);

    speech.lang = "en-IN";
    speech.rate = 1;
    speech.pitch = 1;
    speech.volume = 1;

    window.speechSynthesis.speak(speech);
}

function speakLastReply(){

    if(!lastReply){
        alert("No AI response available.");
        return;
    }

    speak(lastReply);
}


function setQuestion(question){

    document.getElementById("userInput").value = question;

    sendMessage();

}

function copyMessage(button){

    let text =
    button
    .closest(".bot-message")
    .querySelector(".message-text")
    .innerText;


    navigator.clipboard.writeText(text)
    .then(()=>{

        button.innerHTML="✅";

        setTimeout(()=>{

            button.innerHTML="📋";

        },1500);

    });

}

function copyMessage(button){

    const text = button
        .closest(".bot-message")
        .querySelector(".message-text")
        .innerText;

    navigator.clipboard.writeText(text);

    button.innerHTML = '<i class="bi bi-check-lg"></i>';

    setTimeout(()=>{
        button.innerHTML = '<i class="bi bi-clipboard"></i>';
    },1500);

}
</script>
{% endblock %}