{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow p-4 mx-auto" style="max-width:500px;">

        <h3 class="text-center mb-3">✏️ Edit Profile</h3>

        <form method="POST">

            <!-- Name -->
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" name="name" class="form-control"
                       value="{{ session.get('name','') }}"
                       placeholder="Enter your name" required>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control"
                       value="{{ session.get('email','') }}"
                       placeholder="Enter your email" required>
            </div>

            <!--Passaword-->
            <div class="mb-3">
                <label class="form-label">Passaword</label>
                <input type="Passaword" name="Passaword" class="form-control"
                       value="{{ session.get('Passaword','') }}"
                       placeholder="Enter your Passaword" required>
            </div>

            <!-- Button -->
            <button type="submit" class="btn btn-primary w-100">
                💾 Save Changes
            </button>

        </form>

    </div>

</div>

{% endblock %}