
{% extends "base.html" %}
{% block title %}College Notices{% endblock %}
{% block content %}
<style>
    body {
        background-color: #b6ccd6;
    }
    </style>
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 30vh;">
    <span class="display-3 text-center fw-bold">College Notice</span></div>    
    {% for notice in notices %}
        <h2>{{ notice.title }}</h2>
        <p>Date:{{ notice.date }}</p>
        <p>{{ notice.message }}</p>
        <p>{{ notice.note }}</p>
        <p>{{ notice.msg }}</p>
    
        
    {% endfor %}
<a href="{{ url_for('home') }}"><--Back to Home</a>
{% endblock %}