{% extends "base.html" %}

{% block title %}College Notices{% endblock %}

{% block content %}

<div class="container mt-5">

<div class="text-center mb-5">
    <div class="display-5 fw-bold text-primary">
        📢 College Notice Board
    </div>
    <p class="text-muted">
        Latest Updates & Announcements
    </p>
</div>

{% for notice in notices %}

<div class="card shadow-lg border-0 mb-4">

    <!-- Notice Header -->
    <div class="card-header bg-primary text-white ">
        <h3 class="mb-0">{{ notice.title }}</h3>
    </div>

    <!-- Notice Body -->
    <div class="card-body">

        <div class="alert alert-warning mt-6">
            <strong>📅 Date:</strong> {{ notice.date }}
        </div>

        <div class="alert alert-info mt-4">
            {{ notice.message }}
        </div>

        <div class="alert alert-success mt-4">
            {{ notice.note }}
        </div>

        <div class="alert alert-secondary mt-4">
            {{ notice.msg }}
        </div>

    </div>

</div>

{% endfor %}

</div>
   <div class="card-footer bg-dark text-white text-center py-3 mb-2">
    @ 2026 Government Polytechnic Hingoli
</div>
{% endblock %}
