{% extends "base.html" %}
{% block title %} Students - College Smart Portal{% endblock %}


{% block content %}
<style>
    body {
        background-color: #b6ccd6;
    }
    </style>
    <p><h1>◉List of Students</h1></p>
    <p><h3>Total students : {{students|length}}</h3></p>
    <table border="5"cellpadding="7">

    <table class="table table-striped table-hover" border="5" cellpadding="7">
        <thead class="table-dark">
        
            <tr>
                <th>👤Name</th>
                <th>🆔Roll No</th>
                <th>📝Marks</th>
                <th>🏆Grade</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
        <tr>
             <td class="fw-bold">{{ student.name }}</td>
             <td>{{ student.roll_no }}</td>
             <td>{{ student.marks }}</td>
             <td class="fw-bold">
                {% if student.marks >= 90 %}
                    A
                {% elif student.marks >= 80 %}
                    B
                {% elif student.marks >= 70 %}
                    C
                {% elif student.marks >= 60 %}
                    D
                {% else %}
                    F
                {% endif %}
            </td>
        </tr>
        
        {% endfor %}
        </tbody>
    </table>
 {% endblock %}